<nav class="navbar">
    <div class="navbar-brand">LLMScribe</div>
    <ul class="navbar-links">
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/pricing">Pricing</a></li>
        {% if current_user.is_authenticated %}
            <li>
                <form action="{{ url_for('auth.logout') }}" method="GET" style="display: inline;">
                    <button type="submit" class="btn-logout">Sign Out</button>
                </form>
            </li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}" class="btn-login">Login</a></li>
            <li><a href="{{ url_for('auth.signup') }}" class="btn-signup">Signup</a></li>
        {% endif %}
    </ul>
</nav>
